<div *ngIf="bodyStats">
  <h2>Body Details</h2>
  <h3><i>FormControl in a FormGroup</i></h3>
  <form [formGroup]="bodyForm" (ngSubmit)="onSubmit()" novalidate>
    <div style="margin-bottom: 1em">
      <button type="submit"
              [disabled]="bodyForm.pristine || bodyForm.invalid" class="btn btn-success">Save</button>
      <button type="reset" (click)="revert()"
              [disabled]="bodyForm.pristine" class="btn btn-danger">Revert</button>
    </div>

    <!-- BodyStats Detail Controls -->
    <div class="form-group">
      <label class="center-block">Weight:
        <input class="form-control" formControlName="weight">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Fat%:
        <input class="form-control" formControlName="fatPercent">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Calories:
        <input class="form-control" formControlName="calories">
      </label>
    </div>
  </form>
  <p>Form value: {{ bodyForm.value | json }}</p>
  <p>Form status: {{ bodyForm.status | json }}</p>

  <div>
    <label>id: </label>{{bodyStats.id}}
    <label>date: </label>{{bodyStats.date | date:format}}
  </div>
  <div>
    <div>
      <label>weight: </label>
      <input [(ngModel)]="bodyStats.weight" placeholder="weight"/>
    </div>
    <label>fatPercent: </label>
    <input [(ngModel)]="bodyStats.fatPercent" placeholder="fatPercent"/>
    <label>waterPercent: </label>
    <input [(ngModel)]="bodyStats.waterPercent" placeholder="waterPercent"/>
    <label>musclePercent: </label>
    <input [(ngModel)]="bodyStats.musclePercent" placeholder="musclePercent"/>
    <label>bonesPercent: </label>
    <input [(ngModel)]="bodyStats.bonesPercent" placeholder="bonesPercent"/>
    <label>calories: </label>
    <input [(ngModel)]="bodyStats.calories" placeholder="calories"/>
  </div>
  <button (click)="goBack()">Back</button>
</div>

