<h1>{{title}}</h1>
<bodychart [series]="series" [stats]="stats"></bodychart>
<h2>My Body Stats</h2>
<ul class="heroes">
  <li *ngFor="let statRow of stats"
      [class.selected]="statRow === selectedStatRow"
      (click)="onSelect(statRow)">
    <span class="badge">{{statRow.date | date:format}}</span>
    <span class="cellodd">{{statRow.weight}}</span>
    <span class="celleven">{{statRow.fatPercent}}</span>
    <span class="cellodd">{{statRow.calories}}</span>
    <button class="delete" (click)="gotoDetail(statRow.id)">Edit</button>
  </li>
</ul>
