<div *ngIf="bodyStats">
  <div>
    <label>id: </label>{{bodyStats.id}}
    <label>date: </label>{{bodyStats.date | date:format}}
  </div>
  <div>
    <div>
      <label>weight: </label>
      <input [(ngModel)]="bodyStats.weight" placeholder="weight"/>
    </div>
    <label>fatPercent: </label>
    <input [(ngModel)]="bodyStats.fatPercent" placeholder="fatPercent"/>
    <label>waterPercent: </label>
    <input [(ngModel)]="bodyStats.waterPercent" placeholder="waterPercent"/>
    <label>musclePercent: </label>
    <input [(ngModel)]="bodyStats.musclePercent" placeholder="musclePercent"/>
    <label>bonesPercent: </label>
    <input [(ngModel)]="bodyStats.bonesPercent" placeholder="bonesPercent"/>
    <label>calories: </label>
    <input [(ngModel)]="bodyStats.calories" placeholder="calories"/>
  </div>
  <button (click)="goBack()">Back</button>
</div>

