<div *ngIf="bodyStats">
  <h2>Body Details</h2>
  <h3><i>FormControl in a FormGroup</i></h3>
  <form [formGroup]="bodyForm" (ngSubmit)="onSubmit()" novalidate>
    <div style="margin-bottom: 1em">
      <button type="submit"
              [disabled]="bodyForm.pristine || bodyForm.invalid" class="btn btn-success">Save</button>
      <button type="reset" (click)="revert()"
              [disabled]="bodyForm.pristine" class="btn btn-danger">Revert</button>
    </div>

    <!-- BodyStats Detail Controls -->
    <div class="form-group">
      <label class="center-block">Date:
        <input type="date" class="form-control" formControlName="date" useValueAsDate>
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Weight:
        <input type="number" class="form-control" formControlName="weight">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Fat %:
        <input type="number"  class="form-control" formControlName="fatPercent">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Water %:
        <input type="number"  class="form-control" formControlName="waterPercent">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Muscle %:
        <input type="number"  class="form-control" formControlName="musclePercent">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Bones %:
        <input type="number"  class="form-control" formControlName="bonesPercent">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Calories:
        <input type="number"  class="form-control" formControlName="calories">
      </label>
    </div>
  </form>
  <p>Form value: {{ bodyForm.value | json }}</p>
  <p>Form status: {{ bodyForm.status | json }}</p>

  <button (click)="goBack()">Back</button>
</div>

